
<section class="about">
    <header class="about-header">
        About
    </header>
    <div class="clear"></div>
    <div class="about-data">
        {{rawText about}}...<a href="#">Continue Reading</a>
    </div>
</section>