<div class="filter">
    <div class="qty-button">
        <span class="text">Qty</span><b class="qty-button-arrow"></b>
        <div class="options">
            <ul>
                <li class="opt">1</li>
                <li class="opt">2</li>
                <li class="opt">3</li>
            </ul>

        </div>
    </div>
</div>
<input class="add-to-cart" type="button" value="Add to Cart">
<div class="add-to-cart-confirm" style="position:absolute; display:none; width:300px; height:300px; border-style:solid; border-width:1px; border-color:#F3F3F3">
       Adding item to Cart
</div>