<div class="header-cart-item">
    <br class="clear" />
    <span class="item-name">{{cartItem.name}}</span>
    <div class="item-image"><img src="{{cartItem.image}}" width="100" height="100"/></div>
    <span class="item-qty">Quantity: {{cartItem.qty}}</span>
    <span class="item-price">Price: ${{number-format cartItem.price}}</span>
</div>