
<section class="product-header">
    <section class="product-name">
        {{#if name}}
            <p class="product-name">{{name}}</p>
        {{/if}}
        <a href="/"><img src="/img/close-panel.png" alt="close" /></a>
        <div class="clear"></div>
    </section>
    <section class="product-rating-container">
        <div class="product-rating" >
            <span class="gray">
                <span class="gold" style="width:{{crr crr.rating}}">
                </span>
            </span>
        </div>
        <span class="product-review-links" id="review-links">&nbsp;&nbsp;{{crr.count}} Reviews  |  <a href="#">Write a Review</a>  | <a href="#">Ask a Question</a></span>
        <div class="clear"></div>
    </section>
    <section class="product-price-container">
        <section class="product-price">
            <span>${{number-format price}}</span>
        </section>
    </section>
</section>