<header class="gh-head clearfix">
    <div class="gh-logo"><span class="text">Walmart</span><img class="spark" src="img/spark.png"/></div>
    <div class="gh-srch"></div>
    <div class="gh-links">
        <div class="gh-link bd"><span class="create">Create</span><br/><span class="text">a new wish list</span></div>
        <div class="gh-link bd"><span class="signin">Sign In</span><br/><span class="text">to your account</span></div>
        <div class="gh-link"><span class="cart">{{cartSize}} Items</span><br/><span class="text">in your cart</span></div>
    </div>
</header>