<section class="product-finder-filter-selectors">
    <div class="product-finder-filter-img">
        <div class="finder"><div class="spark"></div><div class="text"><b>TV</b>Finder</div></div>
    </div>
    <section class="product-finder-filter-slider">
        <div id="range-value1" class="bubble"><div class="text">19"</div></div>
        <div id="range-value2" class="bubble"><div class="text">73"</div></div>
        <div id="slider-range"></div>
    </section>
    <section class="product-finder-filter-dropdowns">
        <div class="">
            <div class="filter-label">Type</div>
            <div class="filter">
                <div class="type-button">
                    <span class="text">All Types</span><b class="sort-button-arrow"></b>
                    <div class="options">

                        <div class="opt">LCD</div>
                        <div class="opt">LED</div>
                        <div class="opt">Plasma</div>

                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="filter-label">Brand</div>
            <div class="filter">
                <div class="brand-button">
                    <span class="text">All Brands </span><b class="sort-button-arrow"></b>
                    <div class="options">
                        {{#each brands}}
                            <div class="opt">{{.}}</div>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="filter-label">Sort</div>
            <div class="filter">
                <div class="sort-button">
                    <span class="text">Sort</span><b class="sort-button-arrow"></b>
                    <div class="options">
                        <div class="opt">Name</div>
                        <div class="opt">Price</div>
                        <div class="opt">Rating</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="product-finder-filter-break" >
    <h2></h2>
</section>