<section class="product-finder-filter-results">
    <div class="product-finder-filter-msg">
        <span class="item-counter item-counter-bold">{{matches}} matches</span><span class="item-counter"> for televisions fitting that criteria</span>
    </div>
    <input type="button" value="Clear Filters " class="product-finder-filter-clear-btn">
</section>
<section class="shelf-item-container"  >

</section>