<div>

    <section>
        This is how we roll...
        {{#each items}}
        <section>name: {{name}}</section>
        <section><a href="#">{{org}}</a></section>
        <section>role: {{role}}</section>
        {{/each}}
    </section>

</div>