<div class="shelf-item-img">
    <a href="#/product/444444"><img class="lazy" src="image"/></a>
</div>
<div class="shelf-item-name">
    My Name
</div>
<div class="shelf-item-desc">
    This is my description
</div>
<div class="shelf-item-price">
    $22<span class="dollar">.89</span></span>
</div>
<div class="product-rating shelf-item-rating " >
    <span class="gray">
        <span class="gold" style="width:4">
        </span>
    </span>
</div>
