<div class="" style="border: solid 1px red" >
  <div class="js-ratings-filter ratings-filter"> 
	<div class="">
	    <div class="filter-label">Ratings:</div>
	    <div class="filter">
	        <div class="type-button">
	            <div class="options">
	
	                <div class="opt" data-rating="2">
	                <div class="product-rating shelf-item-rating " >
					    <span class="gray">
					        <span class="gold" style="width:40">
					        </span>
					    </span>
					</div>
	                </div>
	                <div class="opt" data-rating="3">
	                <div class="product-rating shelf-item-rating " >
					    <span class="gray">
					        <span class="gold" style="width:60">
					        </span>
					    </span>
					</div>
	                </div>
	                <div class="opt" data-rating="4">
	                <div class="product-rating shelf-item-rating " >
					    <span class="gray">
					        <span class="gold" style="width:80">
					        </span>
					    </span>
					</div>
	                </div>
					<div class="opt" data-rating="5">
					<div class="product-rating shelf-item-rating " >
					    <span class="gray">
					        <span class="gold" style="width:100">
					        </span>
					    </span>
					</div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>
  </div>
  <div class="js-clear-filters">clear filters</div>
</div>


