<script src="../../js/cart/cart-accordion.js"></script>
<div class="cart-item">
    <section class="accordionMod">
        <div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1"
                         data-target="#collapseBox1_1"><span class="icon"></span>

                        <p class="cart-item-count-accordion">{{forPurchaseCount}} For Purchase</p>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="accordion-body collapse" id="collapseBox1_1" >
                    <section class="accordion-inner">
                        <section class="cart-item-details-container"  >

                        </section>
                    </section>
                </div>
                <div class="separator"></div>
            </div>
        </div>
    </section>
</div>


