<div class="cart-subtotals">
    <div class="row">
        <div class="span2">
        </div>
        <div class="span3">
            <section class="cart-pricing">
                <span >${{number-format subtotals}}</span>
            </section>
        </div>
        <div class="span2">
            <div class="cart-checkout-button">
                <a href="/pages/checkout/review.html" class="checkout-button">Checkout</a>
            </div>
        </div>
    </div>
</div>