<header class="gh-head clearfix">
    <div class="gh-logo"><span class="text">Walmart</span><img class="spark" src="../../img/spark.png"/></div>
    <div class="gh-srch"></div>
    <div class="gh-links">
        <div class="gh-link bd"><span class="create">Create</span><br/><span class="text">a new wish list</span></div>
        <div class="gh-link bd"><span class="signin">Welcome</span><br/><span class="text">{{customer.name.first}} {{customer.name.last}}</span></div>
        <div class="gh-link"><span class="cart">{{cartSize}} Items</span><br/><span class="text">a new wish list</span></div>
    </div>
</header>