

.cart-page {
    clear:both;
    width: 750px;
    margin:0px auto;
    background-color:#fff;
    display:none;
    position:absolute;
    border: solid 1px #d2d2d2;
    border-radius: 5px 5px 5px 5px;
    z-index:200;
}

.cart-item-msg {
    color: rgba(44, 44, 44, 0.94);
    font-family: 'Sintony', sans-serif;
    font-size: 25px;
    margin-bottom: 0;
    padding: 26px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    width: 500px;

}

.cart-item {
    width: 750px;
    heigh: 200px;
}

.cart-header {
    width: 750px;
    display: inline-block;
}

.cart-item-count {
    padding: 0 0 0 43px;
}

.cart-item-count p {
    color: rgba(44, 44, 44, 0.94);
    float: left;
    font-family: 'Sintony', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 26px 0 0;
    text-align: left;
    width: 500px;
}

.cart-item-count img {
    display: inline-block;
    float: right;
    padding: 30px 40px 15px;
    width: 25px;
}

.cart-item-count-accordion {
   color: rgb(61, 138, 235);
    text-shadow: 0px 1px 1px #7397f9;
    font-weight: 500;
    font-size: 22px;
   padding: 0 0 0 13px;
}

.span2, .span3, .span1 {
    padding: 20px 0 20px 20px;
}

.cart-item-options-container, .cart-item-qty-container,
.cart-item-price-container {
    padding-top: 20px;
    display: inline-block;
}

.cart-header .separator {
    height: 6px;
}

.separator {
    background: linear-gradient(135deg, #f9f9f9 0%, #EAEBEE 21%, #D5D6DD 49%, #EAEBEE 80%, #ffffff 100%) repeat scroll 0 0 transparent;
    height: 2px;
    width: 100%;
}

.cart-item-option {
    float: left;
    padding: 10px 10px 10px 0;
}

.clear {
    clear: both;
}

.span3 {
    width: 250px;
}

.cart-item-label {
    color: #4F8AC3;
    display: inline-block;
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    padding: 0 0 5px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

.text-gray {
    color: #D9D9D9;
    font-size: 12px;
    font-weight: 600;
}

.list-price {
    text-decoration: line-through;
}

.remove-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight: normal;
    padding: 6px 14px;
}

.save-for-later-button, .move-to-cart-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color: #79bbff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: normal;
    padding: 6px 14px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #528ecc;
}

.cart-item-price-container .h1 {
    display: inline-block;
    margin-top: 10px;
}

.accordionMod .accordion-heading {
    background: linear-gradient(to bottom, rgba(219, 219, 219, 0) 0%, rgba(255, 255, 255, 0.63) 100%) repeat scroll 0 0 transparent;
    border-radius: 0;
}

.accordionMod .accordion-heading .accordion-toggle {
    margin: 0;
    font-size: 24px;
    line-height: normal;
    padding: 5px 30px;
    position: relative;
}

.accordionMod .accordion-heading .accordion-toggle .icon {
    background: url('../../img/collapsed-arrow.png') no-repeat ;
    display: block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 5px;
    top: 7px;
}

.accordionMod .accordion-heading .accordion-toggle .iconActive {
    background: url('../../img/expanded-arrow.png') no-repeat ;
}

.accordionMod .accordion-heading .current {
    color: rgba(44, 44, 44, 0.94);
}

.accordionMod .accordion-inner {
    background-color: #fcfcfc;
    border-top: 0;
    margin: 0;
    padding: 0;
}

.accordion-group {
    border-radius: 0 0 0 0;
    margin-bottom: 2px;
    border: 0;
}

.checkout-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
    box-shadow:inset 0px 1px 0px 0px #fceaca;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
    background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
    background-color:#ffce79;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    padding:14px 50px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ce8e28;
}.checkout-button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
     background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
     background-color:#eeaf41;
 }.checkout-button:active {
      position:relative;
      top:1px;
  }

.cart-pricing span {
    float: right;
    font-family: 'Sintony',sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 0 0;
}

.cart-item-price-container .item-price {
    float: right;
    font-family: 'Sintony',sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.cart-subtotals .span3 {
    height:60px;
}

.accordion-heading {
    border-bottom: 0 none;
    height: 60px;
}

.filter {
    display: inline-block;
    position: relative;
    margin-top: 15px;
}

.filter .sort-button, .filter .brand-button, .filter .type-button {
    background: linear-gradient(to bottom, rgba(219, 219, 219, 0) 0%, rgba(219, 219, 219, 0.65) 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana;
    font-size: 16px;
    height: 20px;
    margin: 0 0 5px 0;
    padding: 10px 50px 10px 10px;
    position: relative;
    text-align: left;
    width: 30px;
}

.filter .brand-button, .filter .type-button {
    width: 70px;
}


.filter .options {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0 0 4px 4px;
    left: -1px;
    min-width: 100%;
    position: absolute;
    top: 39px;
    visibility: hidden;
    z-index: 1;
}

.filter .sort-button-arrow {
    border-color: #333333 transparent transparent;
    border-style: solid;
    border-width: 8px;
    display: inline-block;
    font-size: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 0;
}

.filter-label {
    color: #666666;
    cursor: pointer;
    font-family: Verdana;
    font-size: 20px;
}

.options ul {
    list-style-type: none;
    text-align:left;
}

.opt {
    padding: 0 0 5px 10px;
}

.opt:hover {
    background: linear-gradient(to bottom, rgb(61, 138, 235) 0%, rgba(159, 213, 250, 0.63) 100%) repeat scroll 0 0 transparent;
}

.in-stock {
    color: #0d840e;
    font-family: 'Sintony', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0 0 0;
}

.out-of-stock {
    color: #d4d2d2;
    font-family: 'Sintony', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0 0 0
}