
.carousel-container {
    width:100%;
    text-align:center;
    display:inline-block;
}

#slider-code-pwv {
    height: 345px;
    margin: 0 auto;
    width: 750px;
}

#slider-code {
     height: 345px;
     margin: 0 auto;
     width: 530px;
 }

#slider-code .viewport { float: left; width: 430px; height: 330px; overflow: hidden;  }
#slider-code-pwv .viewport-pwv { float: left; width: 664px; height: 330px; overflow: hidden;  }
#slider-code .buttons, #slider-code-pwv .buttons { display: block; margin: 30px 10px 0 0; float: left; }
#slider-code .buttons, #slider-code-pwv .buttons {
    background: url("../img/arrow-right.png") no-repeat scroll 0 -38px transparent;
    display: block;
    float: left;
    height: 52px;
    margin: 30px 10px 0 0;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
    width: 33px;
}



#slider-code .next, #slider-code-pwv .next{
    background: url("../img/arrow-right.png") no-repeat scroll 0 -38px transparent;
    background-position: 0 0;
    margin: 130px 0 0 10px;
}

#slider-code .prev, #slider-code-pwv .prev {
    background: url("../img/arrow-left.png") no-repeat scroll 0 -38px transparent;
    background-position: 0 0;
    margin: 130px 10px 0 0;
}

#slider-code .disable, #slider-code-pwv .disable {  }
#slider-code .overview, #slider-code-pwv .overview {
    left: 0;
    list-style: none outside none;
    margin: auto;
    padding: 0;
    position: relative;
    text-align: center;
    top: 0;
}

#slider-code .overview li, #slider-code-pwv .overview li {
    float: left;
    height: 350px;
    margin: 0 20px 0 0;
    padding: 1px;
    width: 425px;
}


#slider-code .poverview li, #slider-code-pwv .overview li {
    float: left;
    height: 12px;
    padding: 3px;
    width: 12px;
}

#slider-code .pager {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 0;
    width: 50%;
}


#slider-code .pager li { float: left; }

.pager li > a, .pager li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 15px 15px 15px;
    display: inline-block;
    padding: 0;
}

#slider-code .active, #slider-code-pwv .active { color: #fff; background-color:  #555555; }

#slider-code .pagenum {
    background: url("../img/carousel-position.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    height: 22px;
    margin: 0 2px;
    text-indent: -9999px;
    width: 22px;
}

#slider-code .active {
    background-position: 0 -22px;
    background: url("../img/current-position.png") no-repeat scroll 0 0 transparent;
}

.carousel-separator {
    display: inline-block;
    height: 20px;
    padding: 30px 0 0;
    width: 430px;
}